    <div id="app">
      <div class="traffic-post">
        <div id="red" class="circle"></div>
        <div id="orange" class="circle"></div>
        <div id="green" class="circle"></div>
      </div>
      <div class="control-panel">
        <div id="startButton" class="button">START</div>
        <div id="stopButton" class="button disabled">STOP</div>
      </div>
    </div>