<!DOCTYPE html>
<html lang="en">
<head>
	<title>Basic Node project setup</title>
	<meta name="viewport" content="width=device-width, initial-scale=0, user-scalable=0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- OneTrust Cookies Consent Notice end -->
	<script src='/public/javascripts/jquery.min.js'></script>

	<link rel='stylesheet' href="/resources/main.4da329fa8d72bacea17bbe7707384575.css"/>
</head>
<body>

{{{body}}}

<script src="/resources/main.34070baa8e9a687cb863.js"></script>

</body>
</html>
