<!DOCTYPE html>
<html lang="en">
<head>
	<title>Basic Node project setup</title>
	<meta name="viewport" content="width=device-width, initial-scale=0, user-scalable=0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- OneTrust Cookies Consent Notice end -->
	<script src='/public/javascripts/jquery.min.js'></script>

	<link rel='stylesheet' href="/resources/main.aae3f68af391970a382b640d27343ee1.css"/>
</head>
<body>

{{{body}}}

<script src="/resources/main.b059f019ec399791fb8f.js"></script>

</body>
</html>
