body {
    font-family: sans-serif;
  }
  
  .traffic-post {
    border: 5px solid black;
    height: 400px;
    width: 200px;
  }
  
  .circle {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 50%;
    margin: 15px auto;
  }
  
  .control-panel {
    border: 1px solid blue;
    margin: 10px;
    height: 50px;
  }
  
  .button {
    display: inline-block;
    border: 1px solid gray;
    margin: 8px;
    padding: 8px;
    cursor: pointer;
    background-color: lightblue;
    border-radius: 20px;
  }
  
  .button:hover {
    background: whitesmoke;
  }
  
  .button.disabled {
    background-color: grey;
    cursor: not-allowed;
  }